
.header
{
  text-align: center;
  font-size: 70px;
  font-family: 'Work Sans', sans-serif;
  margin-top: 20px;
}

div.meow {
  font-family: 'Work Sans', sans-serif;
  background-color: white;
  width: 1000px;
  height: 600px;
  display: block;
  margin: auto;
  margin-top: 10px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.meow div
{
    float:left;
}

.loginform
{
  width: 340px;
  height: 300px;
  text-align: center;
  border-radius: 3px;
  margin: auto;
  margin-top: 50px;
}

.logindemhep
{
  margin-top:140px;
  margin-left: 80px;
  width: 340px;
  height: 300px;
  text-align: center;
}

.loginmeow /* dalam box login */
{
  margin-top:140px;
  margin-left: 150px;
}

.loginmeow input
{
  width: 200px;
}

.loginform input[type = "submit"]:hover
{
  background-color: rgb(163, 194, 194);
  transition: 0.25s;
}
.meow img
{
  height:600px;
  width: 500px;
  float:right;
}
/* icon for login*/
.input-field
{
  width: 100%;
  padding: 10px;
}

.icon
{
  padding: 15px;
  background: rgb(163, 194, 194);
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-container
{
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
